.box{
    position: absolute ;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    background-color: white;
    border: 1px solid #4a3232;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;


}