.main{
    padding: 0 10px ;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main span {
    margin-bottom: 10px;
    font-size: 18px;
    word-break: break-word;
    color: #520202;
}